---
const toggleDarkMode = (): void => {
  console.log('asegf')
  const htmlElement = document.documentElement;
  const currentTheme = htmlElement.classList.contains('dark') ? 'dark' : 'light';
  const newTheme = currentTheme === 'dark' ? 'light' : 'dark';

  htmlElement.classList.remove(currentTheme);
  htmlElement.classList.add(newTheme);
  localStorage.setItem('theme', newTheme);
};

if (typeof window !== 'undefined') {
  const savedTheme = localStorage.getItem('theme');
  if (savedTheme) {
    document.documentElement.classList.add(savedTheme);
  }
}
---

<button 
  onclick={`${() => toggleDarkMode()}`}
  class="bg-gray-200 dark:bg-gray-800 text-black dark:text-white px-4 py-2 rounded">
  Toggle Dark Mode
</button>
